<nav class="navbar">
    <div class="nav-container">
        <a href="../../index.html#inicio" class="nav-logo">EEGM</a>
        <ul class="nav-menu">
            <li><a href="../../index.html#inicio">Inicio</a></li>
            <li><a href="../../index.html#sobre-mi">Sobre Mí</a></li>
            <!--<li><a href="../../index.html#timeline">Trayectoria</a></li>-->
            <li><a href="../../index.html#proyectos-destacados">Proyectos</a></li>
            <!--<li><a href="../../index.html#investigacion-preview">Investigación</a></li>
            <li><a href="../../index.html#ahora">Ahora</a></li>
            <li><a href="../../index.html#blog-preview">Blog</a></li>-->
            <li><a href="../../index.html#contacto">Contacto</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
