<nav class="navbar">
    <div class="nav-container">
        <a href="#inicio" class="nav-logo">EEGM</a>  <!-- Cambiado a EEGM -->
        <ul class="nav-menu">
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#sobre-mi">Sobre Mí</a></li>
            <!--<li><a href="#timeline">Trayectoria</a></li>-->
            <li><a href="#proyectos-destacados">Proyectos</a></li>
            <!--<li><a href="#investigacion-preview">Investigación</a></li>
            <!--<li><a href="#ahora">Ahora</a></li>
            <li><a href="#blog-preview">Blog</a></li>-->
            <li><a href="#contacto">Contacto</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
